/* STILI GENERALI */
html, body, div, span, p, a, em, img, strong, fieldset, form, label, legend, input { margin:0; padding:0; border:0; outline:0; font-size:100%;  }

html body div.clear { background:none; border:0; clear:both; display:block; float:none; font-size:0; margin:0; padding:0; overflow:hidden; visibility:hidden; width:0; height:0; }

body { text-align:center; font-family:Arial, Helvetica, sans-serif; line-height:150%; }

#wrapper {
    border: thin solid #808080;
    width: 960px;
    margin: 20px auto;
    background: #E6EAF2;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
}

#container { width:920px; margin:20px; text-align:left; float:left; display:inline; }

h1 { font-family:Arial, Helvetica, sans-serif; font-size:24px; font-weight:normal; color:#0033FF; margin:0; padding:0; }
a { text-decoration:none; color:#CC0000; }
.alignRight { text-align:right; }

/* STILI PRODOTTO */
.simpleCart_shelfItem { 
	float:left; 
	display:inline; 
	margin:20px 20px 20px 20px;
	width:168px;
	line-height:100%;
	position:relative;
	text-align:center;
	-moz-border-radius:5px; 
	border-radius:5px;
}

.simpleCart_shelfItem.last {
	margin-right:0;
}

.simpleCart_shelfItem p { 
	margin:10px 0 0 0; 
}
.item_image {
    width:90%;
}
.item_name {
	font-weight:bold;
	font-size:12px;
	margin:10px 0;
	padding:0;
}

.item_size { font-size:12px; }

.item_add {
	margin:10px 5px;
	padding:4px; 
	background:#0033FF;
	color:#000080;
	border:none;
	-moz-border-radius:5px; border-radius:5px;
	text-transform: uppercase; 
	font-size:9px;
	cursor:pointer;
    transition: all 2s ease;
}
    .item_add:hover {
        color:#fff;
        background:#000080;
        transition: all 2s ease;
    }
.item_price{
	font-weight:bold;
	font-size:14px;
	color:#cc0000;
	margin:10px 5px;
    width: 88px;
}


/* STILI CARRELLO */
.simpleCart_items {
    border: thin solid #412812;
    float: left;
    display: inline;
    width: 100%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: #CCC2BA;
}

.itemContainer, .cartHeaders {
	width:100%;
	float:left;
	display:inline;
	border-bottom:1px solid #fff;
	padding-bottom:10px;
}

.cartHeaders {
	font-weight:bold;
	font-size:11px;
	color: #000;
}

.itemContainer div, .cartHeaders div {
	float:left;
	display:inline;
	border-right:1px solid #fff;
	margin:10px 0 0 0;
	text-align:center;
	width:100px;
}

div.itemName {
	font-weight:bold;
	width:200px;
}

div.itemTotal {
	border-right:none;
}


#cartTotal {
	text-align:right;
	float:left;
	width:100%;
	margin:20px 0;
}

#cartTotal .simpleCart_total, .simpleCart_shippingCost, .simpleCart_finalTotal {
	margin-right:15px;
	padding:5px;
	-moz-border-radius:5px; border-radius:5px;
	background:#EEEEEE;
	font-weight:bold;
}


/* STILI BOTTONI CHECKOUT / SVUOTA CARRELLO */
.simpleCart_empty {
    color: #FFFFFF;
    background: #CC0000;
    padding: 5px;
    margin-left: 5px;
    text-transform: uppercase;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 4px 2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 4px 2px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 4px 2px #000;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.simpleCart_empty:hover {
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #000080;
}
.simpleCart_checkout {
    color: #4F9D00;
    background: #336600;
    padding: 5px;
    margin-left: 5px;
    text-transform: uppercase;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 3px #000;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
    .simpleCart_checkout:hover {
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #000080;
    }
.tblpay {
    border-collapse:separate;
    border-spacing:10px;
}
.tblpay td {
    padding:0px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    vertical-align: top;
    background-image: url('../Images/SfondoTabellaNews.png');
    text-align:center;
}
    .tblpay td img {
            width:90%;
    }
